body {
  font-family: sans-serif;
}

img {
  object-fit: cover;
  width: 100%;
  transition: .3s;
}

img:hover {
  cursor: pointer;
  filter: brightness(65%);
  transition: .5s;
  /* box-shadow: 0 1px 8px black; */
}

h2 {
  font-family: georgia;
}

h4 {
  color: #666;
}

p {
  color: #666;
  font-weight: 100;
}

p a {
  font-size: 14px;
  color: #aaa;
}

p a:hover {
  color: #666;
  text-decoration: underline;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

a {
  padding: 5px;
  text-decoration: none;
}

.nav-top {
  display: none;
}

.nav-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-main a {
  border: 1px solid lightgray;
  color: #aaa;
}

.nav-main a:hover {
  color: #e5e5e5;
}

.logo img {
  width: 330px;
  margin: 10px 0 30px 0;
}

.subscribe img {
  width: 100px;
}

/* --- grid stuff --- */

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat (1fr);
  grid-template-areas:
  "main-content"
  "left-content"
  "right-content"
  "bottom-content"
  "videos"
  "subscribe"
  "footer";
}

.left-content {
  grid-area: left-content;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.right-content {
  grid-area: right-content;
  padding: 10px;
}

.main-content {
  grid-area: main-content;
}

.videos {
  grid-area: videos;
  padding: 10px;
}

.videos p {
  font-size: 12px;
  line-height: 0;
  margin-bottom: 40px;
}

.bottom-content {
  grid-area: bottom-content;
  padding: 10px;
}

.subscribe {
  grid-area: subscribe;
  text-align: center;
  background-color: rgb(241, 241, 241);
  padding: 30px;
  border-radius: 5px;
  border-bottom: 2px solid #aaa;
}

.subscribe h3 {
  font-weight: 400;
  color: #666;
}

.subscribe form {
  font-size: 12px;
  line-height: 25px;
}

.subscribe input[type=text] {
  text-align: center;
  width: 70%;
  margin-top: 20px;
  background-color: rgb(241, 241, 241);
  border: none;
  border-bottom: 1px solid gray;
}

.subscribe button {
  border-radius: 35px;
  background-color: #666;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
}

.subscribe button:hover {
  background-color: black;
  transition: .8s;
}

.footer {
  grid-area: footer;
}

/* -- media queries -- */

@media screen and (min-width:700px) {
  .wrapper {
    grid-template-areas:
    "main-content main-content main-content right-content"
    "left-content bottom-content bottom-content bottom-content"
    "videos bottom-content bottom-content bottom-content"
    "subscribe subscribe subscribe subscribe"
    "footer footer footer footer";
  }
  .main-content h2 {
    font-size: 30px;
  }
  .main-content {
    padding: 0 20px;
    border-right: 1px solid lightgray;
  }
  .bottom-content {
    padding: 0 0 0 20px;
    border-left: 1px solid lightgray;
  }
}

@media screen and (min-width:1050px) {
  .wrapper {
    grid-template-areas:
    "left-content main-content main-content right-content"
    "videos bottom-content bottom-content bottom-content"
    "subscribe subscribe subscribe subscribe"
    "footer footer footer footer";
  }
  .main-content h2 {
    font-size: 40px;
  }
  .main-content {
    padding: 0 20px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }
  .nav-top {
    display: block;
    background-color: black;
    color: #aaa;
  }
  .nav-top a {
    font-size: 12px;
    font-weight: 100;
    color: #aaa;
    padding: 10px 5px;
  }
  .nav-top a:hover {
    background-color: white;
  }
}
